.carousel {
  width: 150%;
  height: 30vh;
}

.city-card {
  text-align: center;
  margin: 10px;
  padding: 20px; /* Ajusta el espacio interno de la tarjeta */
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  width: 200px; /* Ajusta el ancho de la tarjeta */
  height: 250px; /* Ajusta el alto de la tarjeta */
}

.city-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
}

.city-name {
  margin-top: 5px;
  font-weight: bold;
}

.carousel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin-top: -600px;
}

.carousel-title {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 10px;
  
  color: white;
  
}
