.carousel {
  width: 100%;
  height: 900px;
}

.city-card {
  text-align: center;
  margin: 10px;
  padding: 20px; 
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  width: 200px; /* ancho de la tarjeta */
  height: 250px; /*  alto de la tarjeta */
}

.city-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
}

.city-name {
  margin-top: 5px;
  font-weight: bold;
}

.carousel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  
}

.carousel-title {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 10px;
  
  color: white;
  
}

.travelBu{
  display: flex;
  flex-direction: column;
  width: 150px;
  height: 70px;
  justify-content: center;
  align-items: center;
  align-self: center;
  color: aqua;
  font-weight: bold;
  
}

.city-card {
  /* ... (reglas CSS anteriores) ... */
  width: 200px; /* ancho de la tarjeta */
  height: 250px; /* alto de la tarjeta */
}

/* Añadir una media query para ajustar el tamaño de las tarjetas en tamaños pequeños */
@media (max-width: 977px) {
  .carousel {
    display: flex;
    justify-items: center;
    width: 75%;
    margin-top: 5%;
    
    
    
  }
  .carousel-title{
    margin-top: 5%;
  }
}

@media (max-width: 651px) {
  .carousel {
    display: flex;
    justify-items: center;
    width: 50%;
    height: 2200px;
    margin-top: 10%;
    
    
    
  }
  .carousel-title{
    margin-top: 100vh;
  }




}