/* src/App.css */
.hero {
  text-align: center;  
  background-color: #f2f2f2;
  width: 100%;
  min-height: 25vh;
  height: 30vh;  
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;  
  
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.5rem;
  color: #888;
  font-weight: bold;
  
}

.display-4{
  font-weight: bold;
}